/*app.css*/
html, body {
    height: 100%;
}

body {
	background: #e7e7e7;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
}

.app {
	max-width: 1300px;
	padding: 20px 50px;
	background: #f1f1f1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 18px;
}

.time {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.time p {margin-right: 10px;}